@font-face {
  font-family: "Mplus1p";
  src: url("../fonts/Mplus1p-Regular.woff2"), url("../fonts/Mplus1p-Regular.woff");
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "Mplus1p";
  src: url("../fonts/Mplus1p-Medium.woff2"), url("../fonts/Mplus1p-Medium.woff");
  font-weight: 500;
  font-display: block;
}
